@model MvcStok.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m=>m.MUSTERIAD, new { @class = "form-control"})
        @Html.ValidationMessageFor(m=>m.MUSTERIAD,"" , new { @style = "color:red" })
        <br />
        <label>Müşteri Soyad</label>
        @Html.TextBoxFor(m=>m.MUSTERISOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.MUSTERISOYAD,"", new { @style = "color:red" })
    </div>
    <br />
    <div>
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>
    
    <script>  
        // Burada js kodları ile Alert kullanımı yaptık.
        $('#btn1').click(function () {
            alert('Müşteri Ekleme İşlemi Yapıldı.');
        });
    </script>
</form>
